.navbar-dark .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-dark .navbar-nav .active .nav-link {
    color: gray;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: gray;
}

.navbar {
    background-color: #212121 !important;
}

.navbar .navbar-brand {
    font-size: 2rem;
}

.py-3{
    padding-right: 7rem;
    padding-left: 7rem;
    color:black
}

.footer{
    display:flex !important;
    flex-direction:column !important;
    min-height: 0vh !important;
}

.footer .nav-link {
    color: black !important; /* Set desired color */
}

.footer .nav-link:hover {
    color: gray !important; /* Set desired color */
}


.email .email_container .link a{
    color:gray;
}

.email .email_container .link a:hover{
    color: cornflowerblue;
}

.phone .phone_container .p{
    color:black;
}

.photo {
    box-shadow: 0 0 20px 10px gray; /* Add a border */
    border-radius: 10px; /* Optional: rounded corners */
    max-width: 100%; /* Keep the image responsive */
    max-height: 100%; /* Ensure it fits within the container */
}

.photo_container{
    max-height:100%;
    max-width: 100%;
}

.info_container {
    padding-left:0rem;
    padding-right:0rem;
}


.title{
    color: gray;
    padding-top:2rem;
    padding-bottom:0;
    margin-bottom:0;
}

.name{
    font-size: 3rem;
    padding-top: 0;
    margin-top: 0;
}

.resume .section-title{
    padding-top:2rem;
}
.resume .resume-title {
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    border-left: 2px solid gray;
    position: relative;
}

    .resume .resume-item h4 {
        line-height: 18px;
        font-size: 18px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: maroon;
        margin-bottom: 10px;
    }

    .resume .resume-item h5 {
        font-size: 16px;
        background: maroon;
        padding: 5px 15px;
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
        color: white;
    }

    .resume .resume-item ul {
        padding-left: 20px;
    }

        .resume .resume-item ul li {
            padding-bottom: 5px;
        }

    .resume .resume-item:last-child {
        padding-bottom: 0;
    }

    .resume .resume-item::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        left: -9px;
        top: 0;
        background: maroon;
        border: 2px solid gray;
    }

.resume{
    background-color: white;
}

.resume-download{
    padding-top
    width: 30%;
}